<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @model == "user" %>
        <h2>Users search for '<%= @value %>'</h2>
        <table class="table">
          <thead>
              <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Introduction</th>
              </tr>
          </thead>
          <tbody>
            <% @datas.each do |user| %>
              <tr>
                  <td>
                      <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                  </td>
                  <td>
                      <%= user.name %>
                  </td>
                  <td>
                      <%= user.introduction %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% elsif @model == "book" %>
        <h2>Books search for '<%= @value %>'</h2>
        <table class="table">
          <thead>
              <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Opinion</th>
              </tr>
          </thead>
          <tbody>
            <% @datas.each do |book| %>
              <tr>
                  <td>
                      <%= attachment_image_tag(book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                  </td>
                  <td>
                      <%= book.title %>
                  </td>
                  <td>
                      <%= book.body %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
