<% if @users.exists? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format:"jpeg", fallback: "no_image.jpg", size:"40x40" %></td>
          <td><%= user.name %></td>
          <td><p>フォロー数: <%= user.followings.count %></td>
          <td><p>フォロワー数: <%= user.followers.count %></p></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>